node_modules
# Keep environment variables out of version control
.env
.env.*
!.env.example

/src/generated/prisma

node_modules/
frontend/node_modules/
backend/node_modules/
dist/
build/

target/
**/target/

.env